body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background: rgb(25 25 25);
    color:rgb(235 219 178);
    line-height: 1.8rem;
}
.options {
    display: flex;
}
.hl-first {
    color: rgb(131 165 152);
   /* font-size: 1.3rem;  */
}
.hl-conjunction {
    color: rgb(184 187 38);
}
.hl-preposition {
    color: rgb(211 134 155);
}
.hl-center {
    color: rgb(250 189 47);
}
.hl-punctuation {
    color: rgb(250 189 47);
    /* font-size: 1.3rem;  */
}

.line {
    width: fit-content;
    padding-right: 0.6rem;
    padding-bottom: 0.3rem;
    border-radius: 0.2rem;
}

.b-start {
    border-left: solid 1px;
    padding-left: 0.6rem
}

.b-start-0 {
    border-left-color: rgb(131 165 152);
}


.b-start-1 {
    border-left-color: rgb(184 187 38);
}


.b-start-2 {
    border-left-color: rgb(211 134 155);
}


.b-start-3 {
    border-left-color: rgb(250 189 47);
}

.b-line {
    border-bottom: solid 1px;
    /* border-right: solid 1px; */
}


.b-line-0 {
    border-bottom-color: rgb(131 165 152);
    border-right-color: rgb(131 165 152);
}


.b-line-1 {
    border-bottom-color: rgb(184 187 38);
    border-right-color: rgb(184 187 38);
}


.b-line-2 {
    border-bottom-color: rgb(211 134 155);
    border-right-color: rgb(211 134 155);
}

.b-line-3 {
    border-bottom-color: rgb(250 189 47);
    border-right-color: rgb(250 189 47);
}

