.lexia-scroll-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #222;
}

.lexia-scroll-container {
    background: #222;
    width: 30%;
    height: 3rem;
    padding: 0 3rem;
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    white-space: nowrap;
    text-wrap: nowrap;
    font-size: 1.5rem;
}

.lexia-scroll-line-post {
    color: #2b2b2b;
}

.lexia-scroll-line-pre {
    color: #2b2b2b;
}

.lexia-scroll-slide {
    position: absolute;
    color: var(--textColor);
}

.lexia-scroll-highlight {
    color: var(--highlightColor);
    transition: color 0.1s ease-out;
}
.lexia-pause {
    background: #6161616e;
    width: 4rem;
    height: 4rem;
    position: absolute;
    border-radius: 5px;
    margin-bottom: 20rem;
    opacity: 0;
    transition: opacity 0.1s ease-out;
}
.lexia-pause::before {
    content: '';
    position: absolute;
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0) 5%,
        #fff 5%,
        #fff 35%,
        rgba(0, 0, 0, 0) 25%,
        rgba(0, 0, 0, 0) 65%,
        #fff 65%,
        #fff 95%,
        rgba(0, 0, 0, 0) 95%
    );
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
}

.lexia-pause.show {
    opacity: 1;
}
.lexia-scroll-options {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: #fff;
    transition: right 0.5s ease;
}

.lexia-scroll-options.hide {
    right: -300px;
}

.lexia-scroll-options__header {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
}

.lexia-scroll-options__input {
    background: #ffffff05;
    outline: none;
    border: solid 1px #8b8b8b;
    border-radius: 5px;
    padding: 0.4rem;
    color: #fff;
}

.lexia-scroll-options__input[type='color'] {
    padding: 0;
}
